@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Mono:wght@300&display=swap');

html {
   background-color: #fff;
}

body {
   margin-top: 2%;
}

.logo {
   margin-left: auto;
   margin-right: auto;
   display: block;
   filter: drop-shadow(0 0 10px #333);
}

.heading {
   font-family: 'Roboto Mono', monospace;
   font-weight: 300;
   color: #333;
   text-align: center;
   margin-bottom: 2%;
}

div {
   margin-left: 25%;
   background: #fff;
   width: 50%;
   margin-right: auto;
   border-radius: 5px;
   filter: drop-shadow(0 5px 5px #bbb);
}

p {
   font-family: 'Roboto Mono', monospace;
   padding: 2%;
   margin-top: 2%;
   font-weight: 400;
   margin-left: 2%;
}
